<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Beetle_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,2}</string>
			<key>spriteSize</key>
			<string>{76,46}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{365,53},{76,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Beetle_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,2}</string>
			<key>spriteSize</key>
			<string>{74,46}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{365,153},{74,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Beetle_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{70,46}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{319,249},{70,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Beetle_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,2}</string>
			<key>spriteSize</key>
			<string>{74,46}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{365,201},{74,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Beetle_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-10}</string>
			<key>spriteSize</key>
			<string>{76,22}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{73,195},{76,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Snail_blue_IntoShell_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{60,56}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{167,305},{60,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Snail_blue_IntoShell_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{60,56}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{167,305},{60,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Snail_blue_Move_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{84,56}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{145,219},{84,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Snail_blue_Move_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{82,56}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{203,219},{82,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Snail_blue_Move_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{78,56}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{249,97},{78,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Snail_blue_Move_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,56}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{261,217},{80,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Snail_red_IntoShell_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{60,56}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{225,303},{60,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Snail_red_IntoShell_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{60,56}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{225,303},{60,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Snail_red_Move_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{80,56}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{283,299},{80,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Snail_red_Move_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{82,56}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{191,93},{82,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Snail_red_Move_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{78,56}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{307,97},{78,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Snail_red_Move_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,56}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{283,1},{80,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Special_Beetle_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,4}</string>
			<key>spriteSize</key>
			<string>{76,50}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{365,1},{76,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Special_Beetle_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,4}</string>
			<key>spriteSize</key>
			<string>{74,50}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{231,1},{74,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Special_Beetle_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{70,50}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{391,249},{70,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Special_Beetle_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,4}</string>
			<key>spriteSize</key>
			<string>{74,50}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{365,101},{74,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Special_Beetle_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-10}</string>
			<key>spriteSize</key>
			<string>{76,22}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{151,195},{76,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>StingBeetle_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{90,58}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{171,1},{90,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>StingBeetle_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{92,56}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{133,101},{92,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>StingBeetle_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,58}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{73,101},{92,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>StingBeetle_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{90,58}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{85,219},{90,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>TreeBeetle_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{96,98}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{73,1},{96,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TreeBeetle_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{82,106}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{1,221},{82,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TreeBeetle_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{70,108}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{1,1},{70,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TreeBeetle_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{70,108}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{1,111},{70,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Wasp_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{80,52}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{85,311},{80,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Wasp_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{82,36}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{1,329},{82,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Wasp_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{80,36}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{283,59},{80,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Wasp_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{82,36}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{1,329},{82,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fireball_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,11}</string>
			<key>spriteSize</key>
			<string>{38,52}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{229,177},{38,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>fireball_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,11}</string>
			<key>spriteSize</key>
			<string>{38,52}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{283,177},{38,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>fireball_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,11}</string>
			<key>spriteSize</key>
			<string>{38,52}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{229,177},{38,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>fireball_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,10}</string>
			<key>spriteSize</key>
			<string>{38,52}</string>
			<key>spriteSourceSize</key>
			<string>{108,108}</string>
			<key>textureRect</key>
			<string>{{365,321},{38,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>LW3_Enemies.png</string>
		<key>size</key>
		<string>{442,366}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e3a2e96ea4885c5318bf192578243200:a8f7cedaf979dd901956e39c5c05f860:2685f37f55619649da4c5dd21a023a38$</string>
		<key>textureFileName</key>
		<string>LW3_Enemies.png</string>
	</dict>
</dict>
</plist>
