<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BreakButtonMainMenu.png</key>
		<dict>
			<key>frame</key>
			<string>{{906,1266},{102,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,102}}</string>
			<key>sourceSize</key>
			<string>{102,102}</string>
		</dict>
		<key>BreakButtonMainNext.png</key>
		<dict>
			<key>frame</key>
			<string>{{906,1162},{102,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,102}}</string>
			<key>sourceSize</key>
			<string>{102,102}</string>
		</dict>
		<key>BreakButtonResume.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,791},{83,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,82}}</string>
			<key>sourceSize</key>
			<string>{83,82}</string>
		</dict>
		<key>BreakButtonResume2.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,1090},{407,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{407,70}}</string>
			<key>sourceSize</key>
			<string>{407,70}</string>
		</dict>
		<key>BreakButtonRetry.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,490},{102,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,102}}</string>
			<key>sourceSize</key>
			<string>{102,102}</string>
		</dict>
		<key>BreakMenu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1286},{287,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{287,640}}</string>
			<key>sourceSize</key>
			<string>{287,640}</string>
		</dict>
		<key>BreakMenuSoundOff.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,639},{150,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,144}}</string>
			<key>sourceSize</key>
			<string>{150,144}</string>
		</dict>
		<key>BreakMenuSoundOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,440},{150,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,144}}</string>
			<key>sourceSize</key>
			<string>{150,144}</string>
		</dict>
		<key>GUI_buttons_jump.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,1529},{120,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,120}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>GUI_buttons_jump_ova.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1575},{120,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,120}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>GUI_buttons_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,1529},{120,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,120}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>GUI_buttons_left_ova.png</key>
		<dict>
			<key>frame</key>
			<string>{{766,1529},{120,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,120}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>GUI_buttons_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,246},{120,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,120}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>GUI_buttons_right_ova.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,368},{120,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,120}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>GUI_buttons_pinecone.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,2},{120,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,120}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>GUI_buttons_pinecone_ova.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,124},{120,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,120}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>CompleteBack.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{522,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{522,640}}</string>
			<key>sourceSize</key>
			<string>{522,640}</string>
		</dict>
		<key>CompleteGold_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,917},{124,124}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,5},{124,124}}</string>
			<key>sourceSize</key>
			<string>{142,130}</string>
		</dict>
		<key>CompleteGold_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,523},{114,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,1},{114,128}}</string>
			<key>sourceSize</key>
			<string>{142,130}</string>
		</dict>
		<key>CompleteGold_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,791},{124,124}}</string>
			<key>offset</key>
			<string>{6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,5},{124,124}}</string>
			<key>sourceSize</key>
			<string>{142,130}</string>
		</dict>
		<key>GameOverBack.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,644},{521,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{521,640}}</string>
			<key>sourceSize</key>
			<string>{521,640}</string>
		</dict>
		<key>GameOverMenu.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,644},{444,270}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{444,270}}</string>
			<key>sourceSize</key>
			<string>{450,270}</string>
		</dict>
		<key>Jump_popup_Won.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,2},{519,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,27},{519,52}}</string>
			<key>sourceSize</key>
			<string>{539,106}</string>
		</dict>
		<key>LevelIntroText_oben.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,1162},{299,41}}</string>
			<key>offset</key>
			<string>{0,58}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,11},{299,41}}</string>
			<key>sourceSize</key>
			<string>{303,179}</string>
		</dict>
		<key>LevelIntroText_unten.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,440},{133,95}}</string>
			<key>offset</key>
			<string>{-33,-42}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{52,84},{133,95}}</string>
			<key>sourceSize</key>
			<string>{303,179}</string>
		</dict>
		<key>Life.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,575},{72,58}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,20},{72,58}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>LifeOverMenu.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,2},{436,256}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,14},{436,256}}</string>
			<key>sourceSize</key>
			<string>{450,270}</string>
		</dict>
		<key>Pause.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,876},{58,58}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{58,58}}</string>
			<key>sourceSize</key>
			<string>{60,70}</string>
		</dict>
		<key>StrichGold.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,586},{123,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{123,33}}</string>
			<key>sourceSize</key>
			<string>{127,35}</string>
		</dict>
		<key>StrichLife.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,1043},{123,31}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{123,31}}</string>
			<key>sourceSize</key>
			<string>{127,35}</string>
		</dict>
		<key>TimeOverMenu.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,1205},{322,260}}</string>
			<key>offset</key>
			<string>{-12,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{52,10},{322,260}}</string>
			<key>sourceSize</key>
			<string>{450,270}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>LW3_Assets.png</string>
		<key>size</key>
		<string>{1010,1697}</string>
		<key>textureFileName</key>
		<string>LW3_Assets.png</string>
	</dict>
</dict>
</plist>
