<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button_Facebook2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{189,396},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Twitter2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{279,396},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Endgold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-144}</string>
                <key>spriteSize</key>
                <string>{326,164}</string>
                <key>spriteSourceSize</key>
                <string>{426,452}</string>
                <key>textureRect</key>
                <string>{{542,1},{326,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flag01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,62}</string>
                <key>textureRect</key>
                <string>{{668,230},{69,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FlyingPlatform.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{162,38}</string>
                <key>spriteSourceSize</key>
                <string>{162,54}</string>
                <key>textureRect</key>
                <string>{{369,396},{162,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GUI_clock_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{73,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{542,167},{73,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GUI_clock_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{73,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{542,242},{73,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GUI_clock_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{71,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{668,167},{71,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GUI_clock_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{73,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{542,317},{73,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GUI_clock_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{73,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{605,167},{73,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GUI_clock_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{73,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{605,242},{73,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GUI_clock_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{73,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{605,317},{73,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GUI_clock_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{73,59}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{369,436},{73,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GUI_coin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{73,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{653,392},{73,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GUI_coin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{69,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{668,301},{69,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GUI_coin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{65,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{716,372},{65,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GUI_coin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{69,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{668,301},{69,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GUI_coin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{73,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{653,392},{73,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GUI_coin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{444,436},{69,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GUI_coin_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{65,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{731,301},{65,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GUI_coin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{444,436},{69,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GUI_goldpot_01a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{854,442},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GUI_pinecone_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{67,57}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{515,436},{67,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GUI_pinecone_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{67,57}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{515,436},{67,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GUI_pinecone_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{67,57}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{515,436},{67,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GUI_pinecone_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{67,57}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{515,436},{67,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GUI_pinecone_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{67,57}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{584,436},{67,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GUI_pinecone_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{67,57}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{716,439},{67,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GUI_pinecone_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{67,57}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{779,368},{67,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GUI_pinecone_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{67,57}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{785,437},{67,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GUI_shamrock_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{61,59}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{732,230},{61,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RainbowT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{393,539}</string>
                <key>spriteSourceSize</key>
                <string>{397,539}</string>
                <key>textureRect</key>
                <string>{{1,1},{393,539}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SmokePoof0001a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,33}</string>
                <key>spriteSourceSize</key>
                <string>{54,71}</string>
                <key>textureRect</key>
                <string>{{97,461},{34,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SmokePoof0002a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,43}</string>
                <key>spriteSourceSize</key>
                <string>{54,71}</string>
                <key>textureRect</key>
                <string>{{870,51},{48,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SmokePoof0003a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,71}</string>
                <key>textureRect</key>
                <string>{{850,279},{54,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SmokePoof0004a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,49}</string>
                <key>spriteSourceSize</key>
                <string>{54,71}</string>
                <key>textureRect</key>
                <string>{{854,391},{54,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lava_surface_01a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{741,167},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lava_surface_02a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{793,223},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lava_surface_03a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{797,167},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lava_surface_04a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{794,279},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lava_surface_05a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{849,223},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pickup_coin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{870,1},{48,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pickup_coin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{870,146},{42,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pickup_coin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1,461},{34,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pickup_coin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{870,146},{42,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pickup_coin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{870,1},{48,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pickup_coin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{542,392},{42,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pickup_coin_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{49,461},{34,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pickup_coin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{542,392},{42,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pickup_pinecone_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{590,392},{40,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pickup_potogold_01a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{838,335},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pickup_shamrock_01a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{870,101},{45,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pickup_shamrock_02a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{870,101},{45,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pickup_shamrock_03a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{870,101},{45,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pickup_shamrock_04a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{870,101},{45,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pickup_shamrock_05a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{870,101},{45,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shareFacebook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,63}</string>
                <key>spriteSourceSize</key>
                <string>{186,63}</string>
                <key>textureRect</key>
                <string>{{1,396},{186,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LW3_AssetsT.png</string>
            <key>size</key>
            <string>{917,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf30c0d48224ea30d549ba2b3e9cee7f:a0ccfe124b3e72c0765e6ba2a1e02ff9:78823d2e990c49c127f1991ff2d233f5$</string>
            <key>textureFileName</key>
            <string>LW3_AssetsT.png</string>
        </dict>
    </dict>
</plist>
