<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Background_1_1b.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1000,473}</string>
			<key>spriteSourceSize</key>
			<string>{1000,473}</string>
			<key>textureRect</key>
			<string>{{1203,1},{1000,473}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Background_1_1a.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{1000,459}</string>
			<key>spriteSourceSize</key>
			<string>{1000,473}</string>
			<key>textureRect</key>
			<string>{{1,1003},{1000,459}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Background_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1200,640}</string>
			<key>spriteSourceSize</key>
			<string>{1200,640}</string>
			<key>textureRect</key>
			<string>{{1,1},{1200,640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Cloud_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{250,104}</string>
			<key>spriteSourceSize</key>
			<string>{250,104}</string>
			<key>textureRect</key>
			<string>{{177,643},{250,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Cloud_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{275,118}</string>
			<key>spriteSourceSize</key>
			<string>{275,118}</string>
			<key>textureRect</key>
			<string>{{1,643},{275,118}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Cloud_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{241,115}</string>
			<key>spriteSourceSize</key>
			<string>{241,115}</string>
			<key>textureRect</key>
			<string>{{283,643},{241,115}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Item_block_normal_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{54,57}</string>
			<key>spriteSourceSize</key>
			<string>{54,67}</string>
			<key>textureRect</key>
			<string>{{281,895},{54,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_block_normal_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{54,57}</string>
			<key>spriteSourceSize</key>
			<string>{54,67}</string>
			<key>textureRect</key>
			<string>{{337,886},{54,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_block_normal_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{54,57}</string>
			<key>spriteSourceSize</key>
			<string>{54,67}</string>
			<key>textureRect</key>
			<string>{{393,886},{54,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_block_normal_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{54,57}</string>
			<key>spriteSourceSize</key>
			<string>{54,67}</string>
			<key>textureRect</key>
			<string>{{400,643},{54,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_block_normal_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{54,57}</string>
			<key>spriteSourceSize</key>
			<string>{54,67}</string>
			<key>textureRect</key>
			<string>{{400,702},{54,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_block_normal_pieces_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{22,23}</string>
			<key>spriteSourceSize</key>
			<string>{54,67}</string>
			<key>textureRect</key>
			<string>{{112,2005},{22,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_block_normal_pieces_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{22,23}</string>
			<key>spriteSourceSize</key>
			<string>{54,67}</string>
			<key>textureRect</key>
			<string>{{136,2005},{22,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_block_normal_pieces_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{22,23}</string>
			<key>spriteSourceSize</key>
			<string>{54,67}</string>
			<key>textureRect</key>
			<string>{{160,2005},{22,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Item_block_normal_pieces_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{22,23}</string>
			<key>spriteSourceSize</key>
			<string>{54,67}</string>
			<key>textureRect</key>
			<string>{{184,2005},{22,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal01_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{54,55}</string>
			<key>spriteSourceSize</key>
			<string>{54,71}</string>
			<key>textureRect</key>
			<string>{{337,945},{54,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal01_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{54,55}</string>
			<key>spriteSourceSize</key>
			<string>{54,71}</string>
			<key>textureRect</key>
			<string>{{393,945},{54,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal01_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{54,55}</string>
			<key>spriteSourceSize</key>
			<string>{54,71}</string>
			<key>textureRect</key>
			<string>{{400,761},{54,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal01_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{54,55}</string>
			<key>spriteSourceSize</key>
			<string>{54,71}</string>
			<key>textureRect</key>
			<string>{{400,818},{54,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal01_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{54,55}</string>
			<key>spriteSourceSize</key>
			<string>{54,71}</string>
			<key>textureRect</key>
			<string>{{449,875},{54,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal02_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{54,55}</string>
			<key>spriteSourceSize</key>
			<string>{54,71}</string>
			<key>textureRect</key>
			<string>{{449,932},{54,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal02_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{54,55}</string>
			<key>spriteSourceSize</key>
			<string>{54,71}</string>
			<key>textureRect</key>
			<string>{{456,643},{54,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal02_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{54,55}</string>
			<key>spriteSourceSize</key>
			<string>{54,71}</string>
			<key>textureRect</key>
			<string>{{456,700},{54,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal02_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{54,55}</string>
			<key>spriteSourceSize</key>
			<string>{54,71}</string>
			<key>textureRect</key>
			<string>{{456,757},{54,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal02_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{54,55}</string>
			<key>spriteSourceSize</key>
			<string>{54,71}</string>
			<key>textureRect</key>
			<string>{{456,814},{54,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal03_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{54,69}</string>
			<key>spriteSourceSize</key>
			<string>{54,71}</string>
			<key>textureRect</key>
			<string>{{1,920},{54,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal03_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{54,69}</string>
			<key>spriteSourceSize</key>
			<string>{54,71}</string>
			<key>textureRect</key>
			<string>{{57,920},{54,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal03_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{54,69}</string>
			<key>spriteSourceSize</key>
			<string>{54,71}</string>
			<key>textureRect</key>
			<string>{{113,920},{54,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal03_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{54,69}</string>
			<key>spriteSourceSize</key>
			<string>{54,71}</string>
			<key>textureRect</key>
			<string>{{169,915},{54,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal03_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{54,69}</string>
			<key>spriteSourceSize</key>
			<string>{54,71}</string>
			<key>textureRect</key>
			<string>{{225,895},{54,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal04_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{270,54}</string>
			<key>spriteSourceSize</key>
			<string>{270,54}</string>
			<key>textureRect</key>
			<string>{{121,643},{270,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>stone_normal_damaged_pieces_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{28,31}</string>
			<key>spriteSourceSize</key>
			<string>{54,67}</string>
			<key>textureRect</key>
			<string>{{1,2005},{28,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal_damaged_pieces_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{26,31}</string>
			<key>spriteSourceSize</key>
			<string>{54,67}</string>
			<key>textureRect</key>
			<string>{{31,2005},{26,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal_damaged_pieces_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,27}</string>
			<key>spriteSourceSize</key>
			<string>{54,67}</string>
			<key>textureRect</key>
			<string>{{59,2005},{26,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>stone_normal_damaged_pieces_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{26,23}</string>
			<key>spriteSourceSize</key>
			<string>{54,67}</string>
			<key>textureRect</key>
			<string>{{87,2005},{26,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>LW3_World01.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:28d56a1a9dbbc03fdaa445f3d6ba802e:a8dda8a73f7b9bbe729118b45496d386:5eedd3fa5e3b72149f41c26a5d60f232$</string>
		<key>textureFileName</key>
		<string>LW3_World01.png</string>
	</dict>
</dict>
</plist>
